body {
    background-color: #f1debd;
    font-family: "Noto Serif", serif;
}

.post-title {
    font-weight: 600;
    font-size: 36px;
}

.author-date {
    font-size: 18px;
}

.conteudo {
    text-align: justify;
}

.image-container {
    width: 480px;
}

/* Modal de Expansão */
.modal-content {
    background-color: #333e50;
    color: white;
}

.botao-expand {
    background-color: #333e50;
    opacity: 80%;
    border: none;
}

.botao-expand:hover {
    opacity: 100%;
    background-color: #212b41;
    border: none;
}

.botao-expand:active {
    background-color: #333e50;
    border: none;
}

.botao-fechar:focus {
    border: none !important;
}